.icon_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--btn-bg-light);
  cursor: pointer;
  border: none;
  box-shadow: var(--box-shadow);
}
.icon_btn:focus {
  outline: none;
}
